sudo: yes
language: java
cache:
  directories:
    - .docker
    - .autoconf
    - $HOME/.m2
services:
  - docker
jdk:
  - oraclejdk8
branches:
  only:
    - spring4-integration-tests
before_install:
  - docker-compose -f src/test/docker/solr7-cassandra3.yml up -d
  - mkdir -p ~/.m2; wget -q -O ~/.m2/settings.xml https://raw.githubusercontent.com/AtlasOfLivingAustralia/travis-build-configuration/master/travis_maven_settings.xml
  - sudo mkdir -p /data/lucene; sudo wget -O /data/lucene/namematching-20181120.tgz https://archives.ala.org.au/archives/nameindexes/20181120/namematching-20181120.tgz
  - cd /data/lucene
  - sudo tar zxvf namematching-20181120.tgz
  - sudo ln -s namematching-20181120 namematching
  - ls -laF
  - cd $TRAVIS_BUILD_DIR
script:
  - "[ \"${TRAVIS_PULL_REQUEST}\" = \"false\" ] && mvn -P travis clean deploy"
after_script:
  - docker-compose -f src/test/docker/solr7-cassandra3.yml kill
env:
  global:
  - secure: Cz3CJDjuIm52LplBphLsQwNv055US4oxG51PgpJE6IYdta8KJxv04QwK+ytgb3eDNA6ec7XpGPuCaMnDXhpTTdMiluN0ATZY4dEkCIVTnHWGW0Fr0ydlwutkYx/kFUYIJwu9FueEPJYMYgPZ2LTxa6rrUATJ2U13N7R2ul3A5kQ=
  - secure: fLDJXNgi3H8PkGkquJZ3UdsdD1f99cJhbwFCv2PcaIaMyh29Y40EHIlCOmcfdYNEFa4kfOib2vj0e6u8VWDhSzJc+FzOPUU1bi7VzkWAWlQo8jPoq61VBELa+Gq/PayBvsZCN2lqE3Rb92NbyN9D/4rsRWRkKan/MZ/2KZGlK8U=
